@import "compass/reset";
@import "compass/css3";

/*變數*/


/*變數*/
*
	{
		@include box-sizing(border-box);

		/*@include background-size(auto 100%);*/
		/*@include background-size(100% auto);*/

		font-family: "Microsoft Jhenghei","微軟正黑體";
		outline: none;
		
	}

.spacer 
	{
		clear: both;
	}
.float
	{
		float: left;
	}
.float_r
	{
		float: right;
	}
.width
	{
		width: 100%;
	}
.hidden
	{
		display: none;
	}

a 
	{ 
		text-decoration: none;
		cursor: pointer; 
		display: inline-block;
	}

body
	{
		background-color: #ffffff;
		min-height: 1080px;
		overflow-y: hidden;
	}
button
	{
		cursor: pointer;
		border: none;
		background: none;
		padding: 0px;
		margin: 0px;
	}
.wrapper
	{
		width: 100%;
		margin: 0px;
		border: 0px;
		padding: 0px;
		position: relative;
	}
.container_bg
	{
		/*@include img("i_bg_02.png");*/
		width: 100%;
		height: 100%;
		z-index: -100;
		background-position: bottom left;
		background-size: auto;
		background-repeat: no-repeat;

	}
.header
	{
		width: 100%;
		height: 1080px;
		position: absolute;
		top: 0px;
		overflow: hidden;
		.button
			{
				background-color: rgba(0,0,0,0.7);
				width: 33px;
				height: 78px;
				border: none;
				padding: 0px;
				position: absolute;
				z-index: 10;
				top: 40%;
				bottom: 60%;
			}
		.bu_a
			{
				left: 0px;
			}
		.bu_b
			{
				right: 0px;
			}

	}

.menu
	{
		background-color: #f0f0f0;
		width: 211px;
		height: 948px;
		padding: 1px;
		/*@include box-shadow(#b6b7b6 0px 2px 10px);*/
		position: absolute;
		z-index: 100;
		left: 132px;
		.menu_box
			{
				width: 100%;
				height: 658px;
				margin-top: 117px;
				text-align: center;
			}
		.m_box_out
			{
				margin-top: 13px;
				margin-bottom: 6px;
			}
		.m_b_show
			{
				width: 147px;
				text-align: center;
				margin: 0 auto;
				padding-bottom: 13px;
			}
		.m_b
			{
				width: 100%;
				height: 24px;
				color: #000000;
				font-size: 16px;
				letter-spacing: 1.8px;
				padding-bottom: 7px;
			}
		.m_b_s
			{
				width: 100%;
				line-height: 24px;
				color: #000000;
				font-size: 14px;
				letter-spacing: 1.8px;
				&:hover
					{
						color: #ff7833;
					}
			}
	}
.middle
	{
		width: 1150px;
		min-height: 100%;
		/*position: absolute;*/
		margin-left: 383px;
		margin-bottom: 132px;
		z-index: 10;
		.top_bar
			{
				width: 100%;
				height: 50px;
				margin-top: 21px;
				border-bottom: 1px solid #000000;
				.t_b_l_box
					{
						font-size: 13px;
						margin-top: 26px;
					}
				.t_b_l
					{
						color: #000000;
					}
				.t_b_l_right
					{
						position: fixed;
						right: 200px;
						
						.l_mi
							{
								font-size: 15px;
								color: #000000;
								margin-top: 6px;
								border-left: 1px solid #404040;
								border-right: 1px solid #404040;
								padding-left: 19px;
								padding-right: 19px;
							}
						.shopping_car
							{
								background-image: url(../../../images/fix_06.png);
								width: 74px;
								height: 29px;
								color: #ff6a3e;
								padding-top: 10px;
								padding-left: 53px;
								font-size: 15px;
								font-weight: 900;
							}
					}
			}

		.down_bar
			{
				width: 100%;
				min-height: 876px;
			}
	}




.container
	{
		width: 100%;
		position: absolute;
		.search_box
			{
				width: 258px;
				height: 120px;
				border: 1px solid #bfbfbf;
				padding-top: 10px;
				padding-left: 12px;
				text-align: left;
				position: absolute;
				right: 145px;
				top: 0px;
				.t_sear
					{
						width: 234px;
						color: #c0c0c0;
						font-size: 14px;
						border-bottom: 1px solid #c0c0c0;
						button
							{
								background: none;
								border: none;
								padding: 0px;
								margin: 0px;
								color: #000;
							}
					}
				.se
					{
						border: none;
						width: 126px;
						height: 25px;
					}
				.ad
					{
						padding-left: 4px;
						padding-top: 10px;
						color: #000;
						font-size: 13px;
						line-height: 20px;
					}
				.tee
					{
						text-decoration: underline;
						color: #000;
					}
			}
		.shopping_car_box
			{
				position: absolute;
				right: 145px;
				top: 100px;
				width: 434px;
				background-color: #f0f0f0;
				.ti_bar
					{
						color: #ff6b3e;
						background-color: #000;
						font-size: 15px;
						font-weight: 300;
						padding-left: 17px;
						padding-top: 5px;
						border: 1px solid #7c7c7c;
						letter-spacing: 8px;
					}
				.sh_it
					{
						width: 100%;
						height: 100%;
						padding: 15px;
						.sh_bo
							{
								width: 100%;
								height: 32px;
								font-size: 11px;
								font-weight: 500;
								border-bottom: 1px solid #000;
							}
						.sh_lhn
							{
								line-height: 32px;
								
							}
						.sh_na
							{
								width: 155px;
								height: 100%;
								text-align: center;
								margin-right: 15px;
							}
						.sh_pr
							{
								width: 43px;
								height: 100%;
								text-align: center;
								margin-right: 4px;
							}
						.sh_nmb
							{
								width: 50px;
								height: 100%;
								text-align: center;
								margin-right: 12px;
							}
						.sh_tag
							{
								width: 33px;
								height: 100%;
								text-align: center;
								margin-right: 19px;
							}
						.s_b_p
							{
								padding-top: 24px;
								width: 100%;
								height: 100px;
								font-size: 12px;
								border-bottom: 1px solid #b5b5b5;
							}
						.item_sm
							{
								width: 100%;
								height: 100%;
							}
						.it_pic_sm
							{
								width: 60px;
								height: 80px;
								margin-top: -7px;
								background-repeat: no-repeat;
								background-position: center;
								background-size: contain;
							}
						.it_text_sm
							{
								width: 95px;
								height: 100%;
								font-size: 12px;
								line-height: 15px;
								letter-spacing: 0.5px;
							}
						.s_price
							{
								margin-top: 15px;
							}
						.sh_bu
							{
								width: 73px;
								height: 100%;
							}
						.it_n_s
							{
								margin-top: -7px;
								width: 37px;
								height: 22px;
								margin-left: 8px;
							}
						.it_a
							{
								padding: 3px;
								font-size: 10px;
								color: #000;
								background-color: #fff;
								text-align: center;
								border: 1px solid #7c7c7c;
								margin-top: -4px;
								margin-bottom: 9px;
								&:hover
									{
										color: #ff6b3e;
										background-color: #000;
									}
							}
					}
				.taltle
					{
						width: 100%;
						height: 54px;
						line-height: 54px;
						letter-spacing: 1px;
						font-size: 13px;
						padding-left: 229px;
						border-top: 2px solid #787878;
						border-bottom: 2px solid #787878;
					}
				.tal_s
					{
						font-size: 15px;
						width: 127px;
						margin-right: 18px;
						text-align: right;
					}
				button
					{
						margin-top: 25px;
						margin-right: 25px;
						margin-bottom: 30px;
					}
			}
		/*<!-- 登入 -->*/
		.loin
			{
				width: 125px;
				height: 206px;
				border: 1px solid #bfbfbf;
				background-color: #fff;
				position: absolute;
				top: 50px;
				right: 280px;
				.lo_i_b
					{
						width: 100%;
						height: 34px;
						font-size: 13px;
						line-height: 34px;
						text-align: center;
						letter-spacing: 0.8px;
						background-color: #fff;
						color: #000;
						&:hover
							{
								background-color: #000000;
								color: #ff6b3e;
							}
					}
			}
		/*<!-- 登入 END -->*/

	}




.footer
	{
		background-color: #000000;
		width: 100%;
		height: 132px;
		position: absolute;
		z-index: 100;
		bottom: 0px;
		border-top: 1px solid #a95627;
		@include box-shadow (rgba(211, 103, 53, 0.9) 0px -1px 30px, rgba(169,86,39,0.5) 0 2px 2px 0 inset);
		.bo_top
			{
				width: 100%;
				height: 94px;
				clear: both;
				border-bottom: 1px solid #7f380d;
				padding-left: 110px;
			}
		.bo_do
			{
				width: 100%;
				border-top: 1px solid #3f1c07;
				color: #bb5f2d;
				font-size: 12px;
				padding-top: 13px;
				padding-left: 500px;
			}
		.li_a
			{
				color: #bb5f2d;
				font-size: 15px;
				margin-right: 33px;
				margin-top: 13px;
			}
	}

























