@import "compass/reset";
@import "compass/css3";


body
	{

		min-height: 1080px;
	}
.d_box
	{
		padding-top: 60px;
		padding-left: 123px;
		width: 100%;
		height: 100%;
		padding-bottom: 100px;
	}
.d_b_tit
	{
		font-size: 23px;
		letter-spacing: 2px;
		line-height: 25px;
	}
.d_e
	{
		font-size: 14px;
	}
.d_video
	{
		width: 709px;
		height: 356px;
	}
.vi_info
	{
		width: 709px;
		height: 111px;
		padding-top: 50px;
		font-size: 22px;
		letter-spacing: 1px;
		text-align: center;
	}
.pr_p
	{
		width: 938px;
		height: 582px;
	}
.pr_ph
	{
		width: 709px;
		height: 100%;
		padding-left: 45px;
		padding-right: 45px;
	}
.mt
	{
		margin-top: 152px;
	}
.info_pi
	{
		width: 570px;
		height: 100%;
		background-size: auto;
		background-position: center;
		background-repeat: no-repeat;
	}
.detal
	{
		margin-top: 274px;
		.it_tit
			{
				font-size: 14px;
				line-height: 25px;
			}
		.price
			{
				font-size: 10px;
				line-height: 15px;
			}
		.it_n
			{
				border: none;
				padding: 0px;
				margin: 0px;
				padding-left: 3px;
				width: 46px;
				height: 28px;
			}
		.it_num_b
			{
				width: 138px;
				height: 30px;
				margin-top: 7px;
				border: 1px solid #808080;
			}
		.b_te
			{
				width: 90px;
				height: 100%;
				font-size: 11px;
				text-align: center;
				line-height: 30px;
				color: #ff6b3e;
				background-color: #000;

			}
	}

.in_fo_d
	{
		width: 709px;
		height: 100%;
		.icon
			{

			}
		.icon_p
			{
				margin-left: 13px;
			}
		.mea
			{
				width: 100%;
				line-height: 25px;
				letter-spacing: 1.6px;
			}
	}































