/* line 5, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/account_ap.scss */
body {
  height: 1080px;
}

/* line 9, ../sass/account_ap.scss */
.tit {
  margin-top: 150px;
  margin-left: 455px;
}

/* line 14, ../sass/account_ap.scss */
.indu {
  font-size: 14px;
  line-height: 27px;
  color: #b8622d;
  margin-left: 545px;
  margin-top: 58px;
}

/* line 22, ../sass/account_ap.scss */
.mea_bo {
  margin-left: 545px;
  margin-top: 110px;
}

/* line 27, ../sass/account_ap.scss */
.li_box {
  height: 32px;
  line-height: 32px;
  margin-bottom: 15px;
}

/* line 33, ../sass/account_ap.scss */
.li_box_a {
  height: 32px;
  line-height: 32px;
  margin-bottom: 15px;
  margin-top: 47px;
}

/* line 40, ../sass/account_ap.scss */
.pic {
  margin-top: 5px;
}

/* line 44, ../sass/account_ap.scss */
.te {
  width: 140px;
  font-size: 18px;
  margin-left: 18px;
  margin-right: 18px;
  text-align: center;
  color: #b9632c;
}

/* line 53, ../sass/account_ap.scss */
.te_a {
  font-size: 17px;
  margin-right: 13px;
  color: #b9632c;
}

/* line 59, ../sass/account_ap.scss */
.bu {
  background-color: #b9632c;
  color: #ffffff;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 2px;
  text-align: center;
  width: 63px;
  height: 32px;
}

/* line 70, ../sass/account_ap.scss */
.ac {
  /*width: 340px;
  height: 101px;*/
}

/* line 75, ../sass/account_ap.scss */
.textbox {
  background: none;
  border-left: 1px solid #a6a6a6;
  border-bottom: 1px solid #a6a6a6;
  border-right: 2px solid #d3d3d3;
  border-top: 2px solid #d3d3d3;
  color: #4c4c4c;
  line-height: 22px;
  height: 22px;
  width: 203px;
  margin-top: 6px;
  margin-right: 20px;
}

/* line 89, ../sass/account_ap.scss */
.bu_a {
  background-color: #b9632c;
  color: #ffffff;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 2px;
  text-align: center;
  width: 75px;
  height: 28px;
  margin-left: 175px;
  margin-top: 10px;
}
