/* line 5, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/account_poin.scss */
body {
  min-height: 1080px;
}

/* line 11, ../sass/account_poin.scss */
.d_box {
  width: 1007px;
  padding-top: 96px;
  margin-left: 30px;
}

/* line 17, ../sass/account_poin.scss */
.tit_up {
  width: 100%;
  height: 28px;
  font-size: 19px;
  letter-spacing: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #404040;
}

/* line 26, ../sass/account_poin.scss */
.mea_box {
  width: 100%;
  border-top: 1px solid #c0c0c0;
  padding-bottom: 150px;
  padding-top: 30px;
}

/* line 33, ../sass/account_poin.scss */
.te_mea {
  margin-left: 50px;
  margin-top: 90px;
  font-size: 14px;
}
/* line 38, ../sass/account_poin.scss */
.te_mea .me_po {
  color: #ba5e2d;
  margin-bottom: 32px;
  font-size: 17px;
  letter-spacing: 1.5px;
}
/* line 45, ../sass/account_poin.scss */
.te_mea .me_de {
  line-height: 25px;
  letter-spacing: 1px;
}
/* line 50, ../sass/account_poin.scss */
.te_mea .g_poi {
  height: 16px;
  color: #ba5e2d;
  font-size: 16px;
  margin-top: 50px;
  line-height: 16px;
  letter-spacing: 1.5px;
}

/* line 60, ../sass/account_poin.scss */
.pic_ne {
  width: 210px;
  margin-top: 57px;
  margin-right: -114px;
}
