@charset "UTF-8";
/* line 5, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/account_chan.scss */
body {
  height: 1080px;
}

/* line 9, ../sass/account_chan.scss */
.d_box {
  width: 756px;
  padding-top: 89px;
  margin-left: 281px;
}

/* line 16, ../sass/account_chan.scss */
.tit_up {
  width: 100%;
  height: 35px;
  font-size: 19px;
  letter-spacing: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #404040;
}

/* line 25, ../sass/account_chan.scss */
.mea_box {
  width: 100%;
  border-top: 1px solid #c0c0c0;
  padding-left: 80px;
  clear: both;
}

/* line 32, ../sass/account_chan.scss */
.tabl {
  margin-top: 117px;
}

/* line 36, ../sass/account_chan.scss */
.t_box {
  height: 31px;
  margin-bottom: 12px;
}

/* line 41, ../sass/account_chan.scss */
.t_b_a {
  margin-left: 60px;
  line-height: 31px;
}

/* line 46, ../sass/account_chan.scss */
.in_t {
  text-align: left;
  margin-right: 14px;
  line-height: 31px;
  font-size: 14px;
  letter-spacing: 0.8px;
}

/* line 55, ../sass/account_chan.scss */
.in_t_w {
  width: 220px;
  line-height: 31px;
}

/* line 61, ../sass/account_chan.scss */
.textbox {
  background: none;
  border-left: 2px solid #c0c0c0;
  border-bottom: 1px solid #808080;
  border-right: 2px solid #c0c0c0;
  border-top: 1px solid #808080;
  color: #4c4c4c;
  height: 100%;
  padding-left: 3px;
}

/* line 72, ../sass/account_chan.scss */
.checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid #c0c0c0;
  outline: none;
}

/* line 79, ../sass/account_chan.scss */
.phone {
  width: 274px;
}

/* line 83, ../sass/account_chan.scss */
.add {
  width: 524px;
}

/* line 87, ../sass/account_chan.scss */
.nu {
  width: 130px;
}

/* line 91, ../sass/account_chan.scss */
.numbe {
  width: 131px;
  height: 31px;
  background-color: #cccccc;
  margin-right: 10px;
  margin-left: 10px;
}

/* line 99, ../sass/account_chan.scss */
.n_nu {
  color: #b8622d;
  font-size: 10px;
  line-height: 31px;
}

/* line 105, ../sass/account_chan.scss */
.bu {
  font-size: 17px;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 38px;
  text-align: center;
  width: 76px;
  height: 38px;
  margin-top: 18px;
}

/* line 116, ../sass/account_chan.scss */
.bu_a {
  background-color: #b9632c;
  color: #ffffff;
}

/* line 121, ../sass/account_chan.scss */
.bu_b {
  background-color: #fff;
  color: #000;
  border: 1px solid #c0c0c0;
  margin-right: 22px;
}

/*<!-- 登入 -->*/
/* line 131, ../sass/account_chan.scss */
.loin {
  width: 125px;
  height: 206px;
  border: 1px solid #bfbfbf;
  background-color: #fff;
  position: absolute;
  top: 50px;
  right: 280px;
}
/* line 140, ../sass/account_chan.scss */
.loin .lo_i_b {
  width: 100%;
  height: 34px;
  font-size: 13px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.8px;
  background-color: #fff;
  color: #000;
}
/* line 150, ../sass/account_chan.scss */
.loin .lo_i_b:hover {
  background-color: #000000;
  color: #ff6b3e;
}

/*<!-- 登入 END -->*/
