/* line 5, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/product_in.scss */
body {
  min-height: 1080px;
}

/* line 10, ../sass/product_in.scss */
.d_box {
  padding-top: 60px;
  padding-left: 123px;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
}

/* line 18, ../sass/product_in.scss */
.d_b_tit {
  font-size: 23px;
  letter-spacing: 2px;
  line-height: 25px;
}

/* line 24, ../sass/product_in.scss */
.d_e {
  font-size: 14px;
}

/* line 28, ../sass/product_in.scss */
.d_video {
  width: 709px;
  height: 356px;
}

/* line 33, ../sass/product_in.scss */
.vi_info {
  width: 709px;
  height: 111px;
  padding-top: 50px;
  font-size: 22px;
  letter-spacing: 1px;
  text-align: center;
}

/* line 42, ../sass/product_in.scss */
.pr_p {
  width: 938px;
  height: 582px;
}

/* line 47, ../sass/product_in.scss */
.pr_ph {
  width: 709px;
  height: 100%;
  padding-left: 45px;
  padding-right: 45px;
}

/* line 54, ../sass/product_in.scss */
.mt {
  margin-top: 152px;
}

/* line 58, ../sass/product_in.scss */
.info_pi {
  width: 570px;
  height: 100%;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 66, ../sass/product_in.scss */
.detal {
  margin-top: 274px;
}
/* line 69, ../sass/product_in.scss */
.detal .it_tit {
  font-size: 14px;
  line-height: 25px;
}
/* line 74, ../sass/product_in.scss */
.detal .price {
  font-size: 10px;
  line-height: 15px;
}
/* line 79, ../sass/product_in.scss */
.detal .it_n {
  border: none;
  padding: 0px;
  margin: 0px;
  padding-left: 3px;
  width: 46px;
  height: 28px;
}
/* line 88, ../sass/product_in.scss */
.detal .it_num_b {
  width: 138px;
  height: 30px;
  margin-top: 7px;
  border: 1px solid #808080;
}
/* line 95, ../sass/product_in.scss */
.detal .b_te {
  width: 90px;
  height: 100%;
  font-size: 11px;
  text-align: center;
  line-height: 30px;
  color: #ff6b3e;
  background-color: #000;
}

/* line 108, ../sass/product_in.scss */
.in_fo_d {
  width: 709px;
  height: 100%;
}
/* line 116, ../sass/product_in.scss */
.in_fo_d .icon_p {
  margin-left: 13px;
}
/* line 120, ../sass/product_in.scss */
.in_fo_d .mea {
  width: 100%;
  line-height: 25px;
  letter-spacing: 1.6px;
}
