@charset "UTF-8";
/* line 5, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/step.scss */
body {
  height: 1080px;
}

/* line 9, ../sass/step.scss */
.d_box {
  width: 1007px;
  padding-top: 96px;
  margin-left: 30px;
  padding-bottom: 100px;
}

/* line 16, ../sass/step.scss */
.tit_up {
  width: 100%;
  height: 35px;
  font-size: 19px;
  letter-spacing: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #404040;
}

/* line 25, ../sass/step.scss */
.mea_box {
  width: 100%;
  border-top: 1px solid #c0c0c0;
  padding-top: 26px;
  padding-left: 40px;
  padding-right: 87px;
}
/* line 32, ../sass/step.scss */
.mea_box .st_pi {
  width: 100%;
  height: 28px;
}
/* line 37, ../sass/step.scss */
.mea_box .st_pi .st_a {
  margin-right: 34px;
}
/* line 43, ../sass/step.scss */
.mea_box .ta_l {
  width: 100%;
  height: 27px;
  border-bottom: 1px solid #808080;
  padding-bottom: 10px;
  margin-top: 60px;
  font-size: 14px;
  font-weight: 800;
}
/* line 53, ../sass/step.scss */
.mea_box .list_b {
  width: 100%;
  height: 100%;
  border-top: 1px solid #c0c0c0;
}
/* line 58, ../sass/step.scss */
.mea_box .list_b .lis_li {
  width: 100%;
  height: 135px;
  border-bottom: 1px solid #c0c0c0;
  font-size: 13px;
  padding-top: 20px;
  line-height: 18px;
}
/* line 69, ../sass/step.scss */
.mea_box .nu {
  width: 257px;
  height: 100%;
  padding-left: 104px;
}
/* line 75, ../sass/step.scss */
.mea_box .nu_c {
  width: 257px;
  height: 100%;
}
/* line 80, ../sass/step.scss */
.mea_box .nu_pi {
  width: 106px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
/* line 88, ../sass/step.scss */
.mea_box .nu_a {
  width: 72px;
  height: 100%;
  text-align: center;
}
/* line 93, ../sass/step.scss */
.mea_box .nu_a .checkbox {
  width: 17px;
  height: 17px;
  border: 1px solid #404040;
  margin: 0px;
}
/* line 101, ../sass/step.scss */
.mea_box .da {
  width: 80px;
  height: 100%;
  text-align: center;
}
/* line 107, ../sass/step.scss */
.mea_box .de {
  width: 137px;
  height: 100%;
  text-align: center;
}
/* line 113, ../sass/step.scss */
.mea_box .df {
  width: 106px;
  height: 100%;
  text-align: center;
}
/* line 118, ../sass/step.scss */
.mea_box .df .df_num {
  border: 1px solid #7f7f7f;
  width: 49px;
  height: 26px;
}
/* line 125, ../sass/step.scss */
.mea_box .co {
  width: 88px;
  height: 100%;
  text-align: center;
}
/* line 132, ../sass/step.scss */
.mea_box .ca {
  width: 106px;
  height: 100%;
  text-align: center;
}
/* line 138, ../sass/step.scss */
.mea_box .me {
  width: 102px;
  height: 100%;
}
/* line 143, ../sass/step.scss */
.mea_box .noy {
  width: 100%;
  height: 140px;
  padding-top: 15px;
  border-bottom: 2px solid #808080;
  font-size: 16px;
  padding-left: 16px;
}
/* line 151, ../sass/step.scss */
.mea_box .noy .of {
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  color: #b9632c;
  width: 226px;
}
/* line 159, ../sass/step.scss */
.mea_box .noy .tat {
  width: 412px;
  height: 100%;
  margin-left: -14px;
}
/* line 164, ../sass/step.scss */
.mea_box .noy .tat .t_b_sl {
  width: 100%;
  height: 31px;
  line-height: 31px;
}
/* line 170, ../sass/step.scss */
.mea_box .noy .tat .p_b {
  width: 293px;
  text-align: right;
}
/* line 175, ../sass/step.scss */
.mea_box .noy .tat .ca {
  text-align: right;
  width: 119px;
}
/* line 180, ../sass/step.scss */
.mea_box .noy .tat .sele {
  height: 31px;
  width: 100%;
  margin-top: 37px;
}
/* line 185, ../sass/step.scss */
.mea_box .noy .tat .sele .sel_t {
  font-size: 17px;
  line-height: 31px;
  padding-left: 10px;
  padding-right: 12px;
}
/* line 192, ../sass/step.scss */
.mea_box .noy .tat .sele .it_num_b {
  width: 234px;
  height: 27px;
  margin-top: 1px;
  border: 1px solid #c0c0c0;
}
/* line 199, ../sass/step.scss */
.mea_box .noy .tat .sele .it_n {
  border: none;
  background: none;
  padding: 0px;
  margin: 0px;
  width: 170px;
  height: 100%;
}
/* line 208, ../sass/step.scss */
.mea_box .noy .tat .sele .b_te {
  width: 62px;
  height: 100%;
  font-size: 11px;
  text-align: center;
  line-height: 27px;
  color: #000;
  border-left: 1px solid #c0c0c0;
}
/* line 221, ../sass/step.scss */
.mea_box .noy .bu_a {
  border: 1px solid #808080;
  color: #000;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  margin-left: 90px;
  width: 98px;
  height: 28px;
}
/* line 234, ../sass/step.scss */
.mea_box .bu {
  border: 1px solid #cb8a61;
  color: #b8622d;
  font-size: 16px;
  text-align: center;
  width: 65px;
  height: 29px;
}
/* line 243, ../sass/step.scss */
.mea_box .talta {
  width: 100%;
  height: 172px;
  padding-bottom: 37px;
  padding-top: 13px;
  padding-left: 16px;
  border-bottom: 1px solid #404040;
}
/* line 251, ../sass/step.scss */
.mea_box .talta .of_a {
  font-size: 13px;
  line-height: 30px;
  color: #b9632c;
  width: 455px;
}
/* line 258, ../sass/step.scss */
.mea_box .talta .bo {
  font-size: 11px;
  margin-left: 78px;
  margin-top: -10px;
}
/* line 264, ../sass/step.scss */
.mea_box .talta .p_b_c {
  width: 48px;
  height: 30px;
  line-height: 30px;
  text-align: right;
  font-weight: 900;
}
/* line 272, ../sass/step.scss */
.mea_box .talta .ca_c {
  text-align: right;
  width: 119px;
  height: 30px;
  line-height: 30px;
  font-weight: 900;
}
/* line 280, ../sass/step.scss */
.mea_box .talta .che {
  margin-left: 425px;
  margin-top: 25px;
  width: 266px;
}
/* line 287, ../sass/step.scss */
.mea_box .st_po {
  width: 100%;
  height: 200px;
  border-top: 1px solid #c0c0c0;
  padding-top: 24px;
  padding-left: 16px;
}
/* line 294, ../sass/step.scss */
.mea_box .st_po .poa_box {
  width: 124px;
  height: 100%;
}
/* line 299, ../sass/step.scss */
.mea_box .st_po .po_te {
  width: 100px;
  height: 72px;
  background-color: #000;
  border: 1px solid #808080;
  padding-left: 12px;
  letter-spacing: 5px;
  color: #ff6a3e;
  font-size: 22px;
  font-weight: 900;
  line-height: 30px;
  padding-top: 6px;
}
/* line 313, ../sass/step.scss */
.mea_box .st_po .poi_nu {
  width: 100%;
  height: 48px;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 3px;
  margin-top: 30px;
}
/* line 322, ../sass/step.scss */
.mea_box .st_po .poin_bo_r {
  width: 778px;
  height: 172px;
  margin-right: -85px;
  padding-top: 9px;
}
/* line 329, ../sass/step.scss */
.mea_box .st_po .a_l {
  height: 100%;
  width: 23px;
  line-height: 162px;
}
/* line 335, ../sass/step.scss */
.mea_box .st_po .poi_bo_a {
  width: 732px;
  height: 100%;
  padding-left: 41px;
  padding-right: 41px;
}
/* line 342, ../sass/step.scss */
.mea_box .st_po .pr_po_a {
  width: 112px;
  height: 100%;
  font-size: 11px;
  color: #666666;
  text-align: center;
  margin-left: 9px;
  margin-right: 9px;
}
/* line 351, ../sass/step.scss */
.mea_box .st_po .pr_po_a .r_o_pi {
  width: 100%;
  height: 144px;
  border: 1px solid #c0c0c0;
  margin-bottom: 7px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

/*追蹤清單*/
/* line 368, ../sass/step.scss */
.flow_list {
  position: absolute;
  top: 570px;
  left: 850px;
  background-color: #ffffff;
  border: 1px solid #5a5250;
  width: 434px;
}
/* line 377, ../sass/step.scss */
.flow_list .ti_bar {
  color: #ff6b3e;
  background-color: #000;
  font-size: 15px;
  font-weight: 300;
  padding-left: 17px;
  padding-top: 5px;
  border: 1px solid #7c7c7c;
  letter-spacing: 8px;
}
/* line 388, ../sass/step.scss */
.flow_list .sh_it {
  width: 100%;
  height: 100%;
  padding: 15px;
}
/* line 393, ../sass/step.scss */
.flow_list .sh_it .sh_bo {
  width: 100%;
  height: 32px;
  font-size: 11px;
  font-weight: 500;
  border-bottom: 1px solid #000;
}
/* line 401, ../sass/step.scss */
.flow_list .sh_it .sh_lhn {
  line-height: 32px;
}
/* line 406, ../sass/step.scss */
.flow_list .sh_it .sh_na {
  width: 155px;
  height: 100%;
  text-align: center;
  margin-right: 15px;
}
/* line 413, ../sass/step.scss */
.flow_list .sh_it .sh_nmb {
  width: 84px;
  height: 100%;
  text-align: center;
  margin-right: 12px;
}
/* line 420, ../sass/step.scss */
.flow_list .sh_it .sh_tag {
  width: 33px;
  height: 100%;
  text-align: center;
  margin-right: 19px;
}
/* line 427, ../sass/step.scss */
.flow_list .sh_it .s_b_p {
  padding-top: 24px;
  width: 100%;
  height: 100px;
  font-size: 12px;
  border-bottom: 1px solid #b5b5b5;
}
/* line 435, ../sass/step.scss */
.flow_list .sh_it .item_sm {
  width: 100%;
  height: 100%;
}
/* line 440, ../sass/step.scss */
.flow_list .sh_it .it_pic_sm {
  width: 60px;
  height: 80px;
  margin-top: -7px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* line 449, ../sass/step.scss */
.flow_list .sh_it .it_text_sm {
  width: 95px;
  height: 100%;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-align: left;
}
/* line 458, ../sass/step.scss */
.flow_list .sh_it .s_price {
  margin-top: 15px;
}
/* line 462, ../sass/step.scss */
.flow_list .sh_it .sh_bu {
  width: 73px;
  height: 100%;
}
/* line 467, ../sass/step.scss */
.flow_list .sh_it .it_n_s {
  margin-top: -7px;
  width: 37px;
  height: 22px;
  margin-left: 8px;
}
/* line 474, ../sass/step.scss */
.flow_list .sh_it .it_a {
  padding: 3px;
  font-size: 10px;
  color: #000;
  background-color: #fff;
  text-align: center;
  border: 1px solid #7c7c7c;
  margin-top: -4px;
  margin-bottom: 9px;
}
/* line 484, ../sass/step.scss */
.flow_list .sh_it .it_a:hover {
  color: #ff6b3e;
  background-color: #000;
}
/* line 491, ../sass/step.scss */
.flow_list .taltle {
  width: 100%;
  height: 54px;
  line-height: 54px;
  letter-spacing: 1px;
  font-size: 13px;
  padding-left: 229px;
  border-top: 2px solid #787878;
  border-bottom: 2px solid #787878;
}
/* line 502, ../sass/step.scss */
.flow_list .tal_s {
  font-size: 15px;
  width: 127px;
  margin-right: 18px;
  text-align: right;
}
/* line 509, ../sass/step.scss */
.flow_list button {
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 30px;
}
